<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <link type="text/css" href="css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="window">
            <div id="topBar">
                <span id = "topBarTitle">sotw.exe</span>
                <span id = "closeButton">
                    X 
                </span>
            </div>
            <div id="windowContent">
                <h3>Song of the week</h3>
                <h4>Every week, your most listened to Spotify song will be added to your playlist</h4>
                <div id="buttonDiv">
                    <button id="startButton">Start</button>
                </div>
            </div>
        </div>
        <script src="js/index.js"></script>
        <script src="js/background.js"></script>
    </body>
</html>